.login {
    display: grid;
    place-items: center;
    height: 100vw;
    background-color: black;
}

.login>img {
    width: 80%;
}

.login>a {
    padding: 20px;
    border-radius: 99px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    background-color: #1db954;
}