.sidebar {
    height: auto;
    padding: 0px 10px !important;
    flex: 0.2;
    color: #fff;
    height: 100vw;
    min-width: 230px;
    background-color: #040404;
}

.sidebar>hr {
    width: 90%;
    border: 1px solid #282828;
    margin: 10px auto;
}

.sidebar__logo {
    height: 90px;
    margin: auto;
    object-fit: contain;
}

.sidebar__title {
    font-size: 0.8rem;
    margin-left: 12px;
    text-transform: uppercase;
}

.sidebarOptions>p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
    height: 10px;
}